header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 600;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
            }
    }

        img {
            height: 50px;
        }
    }